{% include 'common/header.html' %}
    <body>
    <div class="x-body layui-anim layui-anim-up">
        <fieldset class="layui-elem-field">
            <legend>上传数据</legend>
            <div class="layui-field-box">
                <table class="layui-table">
                    <tbody>
                        <tr>
                            <th>上传数据</th>
                            <td>
                                 <form  action="/classfier-upload" id="upload_file" enctype='multipart/form-data' method="post">
                                     <input type="file" name="file">
                                     <input type="submit" value="上传">
                                 </form>
                            </td></tr>
                        <tr>
                    </tbody>
                </table>
            </div>
        </fieldset>

        <fieldset class="layui-elem-field">
            <legend>模型训练</legend>
            <div class="layui-field-box">
                <table class="layui-table">
                    <tbody>
                        <tr>
                            <th>参数1</th>
                            <td>
                                <input type="text" name="aug1" value ="默认值">
                            </td></tr>
                    </tbody>
                </table>
                <div>
                    <input type="button" id="train" name="train" value="训练" onclick="train()">
                </div>
            </div>
        </fieldset>

        <fieldset class="layui-elem-field">
            <legend>训练成绩</legend>
            <div class="layui-field-box">
                <table class="layui-table" lay-skin="line">
                    <tbody>
                        <tr>
                            <td >
                                <a id="score" class="x-a" href="/" target="_blank">模型还没有训练</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>

        <fieldset class="layui-elem-field">
            <legend>训练成绩</legend>
            <div class="layui-field-box">
                <table class="layui-table" lay-skin="line">
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" id="model_name" value="输入模型名称">
                            </td>
                            <td >
                                <input type="button" value="保存模型" onclick="save()">
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </fieldset>

    </div>
        <script>
        function upload() {
            var form_data = new FormData($('#upload_file')[0]);
            $.ajax({
                url:'/classfier-upload',
                type:'POST',
                data:form_data,
                success:function(data) {
                }
            })

        }

        function train() {
            $.ajax({
                url:'/classifier-train',
                type:'POST',
                data:{
                    message:"hello"
                },
                success:function(data) {
                    $("#score").html("模型得分" + data['score']);
                }

            })
        }


        function save() {
            $.ajax({
                url:'/classifier-save',
                type:'POST',
                data:{
                    'name':document.getElementById("model_name").value
                },
                success:function(data) {
                    alert("模型已保存")
                }
            })
        }
        </script>



    </body>
</html>