{% include 'common/header.html' %}
  
  <body>
    <div class="x-body">


      <table class="layui-table">
        <thead>
          <tr>
              <th>编号</th>
            <th>模型名称</th>
            <th>模型种类</th>
            <th>模型作用</th>
              <th>状态</th>
            <th >操作</th>
            </tr>
        </thead>
        <tbody>
        {% for model in models %}


          <tr>
              <td>{{ model[0] }}</td>
            <td>{{ model[1] }}</td>
            <td>{{ model[2] }}</td>
            <td>{{ model[3] }}</td>
              {% if model[0] in model_online_map %}
                  <td class="td-status">
                <span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span>
              </td>
                {% else %}
                  <td class="td-status">
                <span class="layui-btn layui-btn-warm layui-btn-mini">未启用</span>
              </td>
                {% endif %}

            <td class="td-manage">
              <a title="启用" href="{{ model_online_map[model[0]] }}" target="_blank">
                <i class="layui-icon">&#xe609;</i>
              </a>
                <a title="上线" onclick="location='/model/start-model/{{ model[0] }}'" href="javascript:;">
                <i class="layui-icon">&#xe652;</i>
              </a>
                <a title="下线" onclick="location='/model/shut-model/{{ model[0] }}'" href="javascript:;">
                <i class="layui-icon">&#xe651;</i>
              </a>
            </td>
          </tr>
        {% endfor %}

        </tbody>
      </table>
      <div class="page">
        <div>
          <a class="prev" href="">&lt;&lt;</a>
          <a class="num" href="">1</a>
          <span class="current">2</span>
          <a class="num" href="">3</a>
          <a class="num" href="">489</a>
          <a class="next" href="">&gt;&gt;</a>
        </div>
      </div>

    </div>
    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });


    </script>
  </body>

</html>