{% include 'common/header.html' %}
  
  <body>
    <div class="x-body">


      <table class="layui-table">
        <thead>
          <tr>
            <th>模型名称</th>
            <th>模型种类</th>
            <th>模型作用</th>
            <th >操作</th>
            </tr>
        </thead>
        <tbody>
        {% for model in models %}


          <tr>
            <td>{{ model[1] }}</td>
            <td>{{ model[2] }}</td>
            <td>{{ model[3] }}</td>
            <td class="td-manage">
              <a title="启用" onclick="x_admin_show( {{ "'" + model[1] + "'"}},
                      {{ "'" + '/model/use-model.html/'}}{{model[0]}}{{"'"}},600,400)" href="javascript:;">
                <i class="layui-icon">&#xe640;</i>
              </a>
            </td>
          </tr>
        {% endfor %}

        </tbody>
      </table>
      <div class="page">
        <div>
          <a class="prev" href="">&lt;&lt;</a>
          <a class="num" href="">1</a>
          <span class="current">2</span>
          <a class="num" href="">3</a>
          <a class="num" href="">489</a>
          <a class="next" href="">&gt;&gt;</a>
        </div>
      </div>

    </div>
    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });


    </script>
  </body>

</html>