{% include 'common/header.html' %}

<body>
<div class="x-body">
    <h2>请上传一张图片</h2>
    <form class="layui-form" action="/model/picture-inference" enctype='multipart/form-data' method="post">
            <input type="file" name="file">
        <br><br>
            <input type="submit" value="上传预测">
      </form>

</div>
<script>
    function uploadPicture() {
            $.ajax({
                url: '/model/picture-inference',
                type: 'POST',
                data: new FormData($('#upload_pic_file')[0]),
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    // todo ..
                    alert("图片上传成功")
                }
            })
        }
    $(function () {



        //上传文件的代码
        /*
        $('#uploadPicButton').on('click', function () {
            $.ajax({
                url: '/model/picture-inference',
                type: 'POST',
                data: new FormData($('#picFileUpload')[0]),
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    // todo ..
                    alert("图片上传成功")
                }
            })
        })*/
        $('#inferenceButton').on('click', function () {
            // 在发送一个ajax请求，发送一个信号让后台预测
            $.ajax({
                // todo...
                type: 'GET',
                url: '/model/picture-inference',
                data: {
                    signal: 'INF'
                },
                success: function (data) {
                    $('#result').val('预测结果: ' + data)
                }
            })
        })

    })
</script>
</body>

</html>